*:not(i){
    font-family: 'gotham_medium', Arial, sans-serif;
}
.pointer{
  cursor: pointer;
}
#global {
    margin-left: auto;
    margin-right: auto;
    background: #1F2739;
    color: azure;
    width: 700px;
    padding: 20px;
    textarea{
        background: #d4d9dd;
        color: black;
        box-shadow: 0 0 0 0.2rem #d4d9dd !important;
    }
    .form-control {
        &:focus {
            background-color: #d4d9dd !important;
            border-color: #DDDAE0 !important;
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem #d4d9dd !important;
        }
    }
    img {
        width: 15px;
    }
}

input:not(.btn) {
    background: #f8f9fa;
}
.ng-valid input:not(.btn){
    border: 1px solid #28a745;
}
// .arrow{
//     &:after {
//         content: "";
//         width: 0;
//         height: 0;
//         border-left: 10px solid transparent;
//         border-right: 10px solid transparent;
//         border-bottom: 10px solid rgb(31, 39, 57);
//         position: relative;
//         bottom: 150px;
//         left: 212px;
//     }
// }

.box2 {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    input {
        cursor: pointer;
    }
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
