*{
    font-family: 'gotham_medium', Arial, sans-serif;
}
#global {
    margin-left: auto;
    margin-right: auto;
    background: #1F2739;
    color: azure;
    width: 700px;
    padding: 20px;
    textarea{
        background: #d4d9dd;
        color: black;
        box-shadow: 0 0 0 0.2rem #d4d9dd !important;
    }
    .form-control {
        &:focus {
            background-color: #d4d9dd !important;
            border-color: #DDDAE0 !important;
            outline: 0 !important;
            box-shadow: 0 0 0 0.2rem #d4d9dd !important;
        }
    }
    img {
        width: 15px;
    }
}

input:not(.btn) {
    background: #f8f9fa;
}
.ng-valid input:not(.btn){
    border: 1px solid #28a745;
}
.arrow{
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(31, 39, 57);
        position: relative;
        bottom: 459px;
        left: 212px;
    }
}

.box2 {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    input {
        cursor: pointer;
    }
}
