<div id="global">
  <p-toast></p-toast> <p-progressSpinner *ngIf="showSpeener" class="speener"></p-progressSpinner>
  <div class="container">
    <h2 class="h2">Extract emails</h2>
    <div>
      <input type="text" class="form-control mb-3" [(ngModel)]="url" required placeholder="https://www.google.com/">
    </div>
    <div>
      <textarea autofocus spellcheck="false" [(ngModel)]="emails"
        placeholder="Lorem ipsum ABC@data.com ... set EXAMPLE@box.ma adipisicing ..." cols="30" rows="10"
        class="form-control"></textarea>
    </div>
    <div class="text-right mt-3">
      <button class="btn btn-primary" (click)="getByUrl()">Extract emails</button>
      <a [href]="fileUrl" download="file.txt" (click)="downlad()" class="btn btn-success ml-3">
        <img src="/assets/icondownloadfiletext.png"> File
      </a>
    </div>
    <!-- <div>
      {{dataHTML}}
    </div> -->
  </div>
</div>