/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'mombay_regular';
    src: url('./assets/font/thorce-webfont.woff2') format('woff2'),
         url('./assets/font/thorce-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_medium';
    src: url('./assets/font/gotham_medium_regular.woff2') format('woff2'),
         url('./assets/font/gotham_medium_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.speener {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }