<div class="global_box">
    <div class="box_in_middle">
        <div>
            <div>
                <h3>All you needs is here! </h3>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md box_title" [routerLink]="'getByURL'" routerLinkActive="active">
                    <div class="div text-center">
                        <i class="fas fa-link"></i>
                        Extract By URL
                    </div>
                </div>
                <div class="col-md box_title" [routerLink]="'getByTEXT'" routerLinkActive="active">
                    <div class="div text-center">
                        <i class="fas fa-paragraph"></i>
                        Extract By HTML
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box_router">
        <router-outlet></router-outlet>
    </div>
</div>