.global_box{
    background: linear-gradient(rgba(255, 255, 255, 0.34) 0%, #007bff5c), url('./../../../assets/img/19276.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    padding: 10px;
    overflow: auto;

    .box_in_middle{
        width: 394px;
        padding-top: 10vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .col-md
    {
        margin: 0 5px;
    }
    .box_title{
        background: #47525d;
        position: relative;
        width: 160px;
        height: 100px;
        cursor: pointer;
        color: white;
        overflow: auto;
        &:hover{
            background: #007bff;
            color: white;
        }
        .div {
            position: absolute;
            width: 200px;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .box_router{
        padding-top: 10px;
    }
    .active {
        background: #007bff;
        color: white;
    }
    h3{
        color: #28a745;
    }
    .fas{
        display: block;
        margin: 5px;
        font-size: 30px;
    }

}